button {
    padding: 0 !important;
}

.glide {
    max-width: 1440px;
    margin: 0 auto;
}

.glide__track {
    flex: 1;
}

.glide__slide {
    text-align: center;
}

.glide__slides img{
    max-width: 500px;
}

.glide__slide[className*="active"] {
    background-color: rgb(254 252 232 / 10%);
}

.glide__arrow {
    transition: all 0.2s ease-in-out;
}